@charset 'utf-8';

.wrap{width:100%;max-width:1200px;margin:0 auto;}
.container{width:1170px;margin:0 auto;}
body{font-family:'Noto Sans KR',Sans-serif;}
.eng,#eng{font-family:'Roboto';}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#000000;}
img{vertical-align:top;}
.clearfix::after{content:'';display:block;clear:both;}